<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Display</title>
</head>
<body>

    <h1> I want to populate user lists here</h1>
    <p>{{user_list}}</p>
    {% if user_list %}
    <ol>
        {% for item in user_list %}
        <li>
         User name :{{item['user_name']}}, User age: {{item['user_age']}}, User city: {{item['user_city']}}, <a href="/user_details/{{item['user_name']}}"> Click for more</a>
        </li>
        {% endfor %}
    </ol>
    {% endif %}
</body>
</html>